<img src="<%= @selected_program.logo_url %>"><p></p>
<p>Site: <a href="<%= @selected_program.site_address %>"><%= @selected_program.site_address %></a></p>
<p>Categories: <%= @selected_program.categories %></p>
<p>Mobile Tracking: <%= @selected_program.mobile_tracking %></p>
<p>Status: <%= @selected_program.status %></p>